<div class="page-container">

  <h1 class="page-title">Cambiar contraseña</h1>

  <mat-card class="form-card">
    <form class="form-layout" [formGroup]="form" (submit)="$event.preventDefault()">

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Contraseña actual</mat-label>
        <input
          matInput
          type="password"
          formControlName="currentPassword"
          name="current_pass"
          autocomplete="current-password"
          required>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nueva contraseña</mat-label>

        <input
          matInput
          type="password"
          formControlName="newPassword"
          name="new_pass"
          autocomplete="new-password"
          required>

        <!--  Mínimo 8 caracteres -->
        <mat-error *ngIf="form.get('newPassword')?.hasError('minlength')">
          Debe tener al menos 8 caracteres
        </mat-error>

      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Confirmar nueva contraseña</mat-label>
        <input
          matInput
          type="password"
          formControlName="confirmNewPassword"
          name="confirm_pass"
          autocomplete="new-password"
          required>
      </mat-form-field>

      <div class="form-actions">
        <button
          mat-flat-button
          color="primary"
          type="button"
          (click)="onSubmit()"
          [disabled]="form.invalid">
          Cambiar contraseña
        </button>

        <button mat-button type="button" routerLink="/profile">
          Cancelar
        </button>
      </div>

      <p class="error" *ngIf="error()">{{ error() }}</p>

    </form>
  </mat-card>

</div>
