<div class="container mt-4">
  <form (ngSubmit)="submit()" [formGroup]="sessionForm" class="card p-4 shadow-sm" data-testid="session-form">
    <h4 class="mb-4 text-center">
      {{ isEditMode ? 'Editar sesión digital' : 'Crear sesión digital' }}
    </h4>

    @if (currentUser()?.role === 'ADMIN') {
      <mat-form-field appearance="outline" class="full-width mb-2">
        <mat-label>Email</mat-label>
        <input data-testid="email-input"
               formControlName="email"
               matInput
               placeholder="Email del usuario..."
               required
               type="email"/>
        <mat-error>
          El email es obligatorio
        </mat-error>
      </mat-form-field>
    }

    <mat-form-field appearance="outline" class="full-width mb-2">
      <mat-label>Descripción</mat-label>
      <textarea data-testid="description-input"
                formControlName="description"
                matInput
                placeholder="Descripción de la sesión..."
                required
                rows="3"
                type="textarea">
      </textarea>
      <mat-error>
        La descripción es obligatoria
      </mat-error>
    </mat-form-field>

    <div class="row">
      <div class="col-6 text-start">
        <a matButton routerLink="/sessions">
          <mat-icon>cancel</mat-icon>
          <span>Cancelar</span>
        </a>
      </div>

      <div class="col-6 text-end">
        @if (isEditMode) {
          <span [matTooltipDisabled]="digitalItems === 0"
                matTooltip="No se pueden eliminar sesiones con elementos asociados">
            <button (click)="delete()"
                    [disabled]="digitalItems !== 0"
                    class="mr-2"
                    data-testid="delete-session-button"
                    matButton="tonal"
                    type="button">
              <mat-icon>delete</mat-icon>
              <span>Eliminar sesión</span>
            </button>
          </span>
        }
        <button [disabled]="sessionForm.invalid"
                data-testid="submit-session-button"
                mat-flat-button type="submit">
          <mat-icon>{{ isEditMode ? 'edit' : 'add_circle' }}</mat-icon>
          <span>{{ isEditMode ? 'Guardar cambios' : 'Crear sesión' }}</span>
        </button>
      </div>
    </div>
  </form>
</div>
