.card {
  max-width: 480px;
  margin: 40px auto;
  padding: 8px;
}

.title {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 20px;
  margin-top: 5px;
  margin-left: 5px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.full {
  width: 100%;
}

.submit-btn {
  margin-top: 16px;
}
